/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
  
  /* Colors */

--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
--gray: hsl(0, 0%, 55%);
--dark-gray: hsl(0, 0%, 41%);

/* Typography */

--text: 'Alata', 'sans-serif';
--tittles: 'Josefin Sans', 'sans-serif'
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-family: var(--text);
}

a{
  text-decoration: none;
}

h2,
.hero-content p,
.mobile-menu_nav ul{
  font-family: var(--tittles);
  text-transform: uppercase;
}

.mobile-menu,
.desktop-menu{
  display: none;
}

.hero{
  display: flex;
  flex-direction: column;
  background-image: url(../images/mobile/image-hero.jpg);
  min-height: 80vh;
  background-size: cover;
  padding: 2rem 1rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 7rem;
}

.open-menu,
.close-menu{
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

.hero-content{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content p{
  color: white;
  font-size: 2rem;
  border: 2px solid white;
  padding: 1rem;
  max-width: 250px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  position: fixed;
  inset: 0;
  padding: 2rem;
}

.mobile-menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu_nav{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.mobile-menu_nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-menu_nav ul li a{
  color: var(--white);
  font-size: 1.5rem;
}

main{
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.intro{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro-info{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.intro-info h2{
  font-size: 1.8rem;
  padding-top: 2rem;
  letter-spacing: 2px;
}

.intro-info p{
  font-size: 0.75rem;
  color: var(--gray);
  line-height: 1.8;
  max-width: 240px;
}

.creations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.btn-desktop {
  display: none;
}

.creations > h2{
  text-align: center;
}

.creations__grid{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.creations__grid > div{
  background-size: cover;
  background-position: 0;
  height: 6.7rem;
  padding: 1rem;
  display: flex;
  align-items: end;
  position: relative;
  isolation: isolate;
}

.creations__grid > div::before{
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .40);
  z-index: -1;
}

.creations__grid > div > h2 {
  color: var(--white);
  font-size: 1.2rem;
  font-family: var(--tittles);
  font-weight: 100;
}

.creations__grid  > div:nth-child(1){
  background-image: url(../images/mobile/image-deep-earth.jpg);
}
.creations__grid  > div:nth-child(2){
  background-image: url(../images/mobile/image-night-arcade.jpg);
}
.creations__grid  > div:nth-child(3){
  background-image: url(../images/mobile/image-soccer-team.jpg);
}
.creations__grid  > div:nth-child(4){
  background-image: url(../images/mobile/image-grid.jpg);
}
.creations__grid  > div:nth-child(5){
  background-image: url(../images/mobile/image-from-above.jpg);
}
.creations__grid  > div:nth-child(6){
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}
.creations__grid  > div:nth-child(7){
  background-image: url(../images/mobile/image-curiosity.jpg);
}
.creations__grid  > div:nth-child(8){
  background-image: url(../images/mobile/image-fisheye.jpg);
}

.btn {
  font-family: var(--text);
  text-transform: uppercase;
  border: 1px solid var(--black);
  background: white;
  color: black;
  font-size: .7rem;
  padding: .5rem 2.8rem;
  width: max-content;
  letter-spacing: 2px;
  border-radius: 2px;
  transition: 0.15ms;
  cursor: pointer;
  font-weight: bold;
} 

.btn:hover{
  background-color: black;
  color: white;
}

footer{
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

.logo-menu,
.icons-copyright{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer-menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-menu ul li a {
  font-family: var(--text);
  color: var(--white);
  font-size: .75rem;
  transition: 0.15ms;
}

.footer-menu ul li a:hover{
  color: pink;
}

.icons{
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.icons a {
  color: var(--white);
  transition: .15ms;
}

.icons a:hover {
  color: pink;
}

.copyright {
  color: var(--dark-gray);
  font-size: .75rem;
}


@media screen and (min-width: 800px) {

  .logo{
    width: 10rem;
  }

  .hero{
    background-image: url(../images/desktop/image-hero.jpg);
    padding: 4rem 6rem;
    min-height: 90vh;
    position: relative;
    isolation: isolate;
  }

  .hero::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .50);
    z-index: -1;
  }

  .hero-content {
    justify-content: flex-start;
  }

  .hero-content p{
    padding: 40px;
    font-size: 4rem;
    line-height: 60px;
    max-width: 690px;
  }

  .open-menu {
    display: none;
  }

  .desktop-menu{
    display: block;
  }

  .desktop-menu ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    transition: 0.15s ease-in;
  }

  .desktop-menu ul a{
    padding: 6px 8px;
  }

  .desktop-menu ul a:hover{
    color: pink;
  }

  .desktop-menu ul li a {
    font-family: var(--text);
    font-size: .7rem;
    color: var(--white);
  }

  main{
    padding: 6rem 8rem;
  }

  .intro{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 5rem;
  }

  .intro > img {
    max-width: 100%;
    grid-column: 1/6;
    grid-template-rows: 1fr 1fr;
    grid-row: 1/3;
  }

  .intro-info {
    align-items: flex-start;
    grid-column: 5/9;
    grid-row: 2/3;
    background-color: var(--white);
    padding: 5rem;
    padding-bottom: 0;
    text-align: left;
  }

  .intro-info h2 {
    word-spacing: 2px;
    font-size: 2.3rem;
    font-weight: 300;
  }

  .intro-info p{
    max-width: 350px;
  }

  .btn-mobile {
    display: none;
  }

  .btn-desktop {
    display: block;
  }

  .creations__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .creations__header h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  .creations__grid {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  }

  .creations__grid > div {
    height: 30rem;
    padding: 2rem;
    transition: 0.15s ease-in;
  }

  .creations__grid > div:hover {
    letter-spacing: 1px;
  }

  .creations__grid > div::before {
    transition: 0.15s ease-in;
  }

  .creations__grid > div:hover::before{
    background-color: rgba(0, 0, 0, .70);
  }

  .creations__grid > div > h2 {
    font-size: 1.5rem;
  }

  .creations__grid  > div:nth-child(1){
    background-image: url(../images/desktop/image-deep-earth.jpg);
  }
  .creations__grid  > div:nth-child(2){
    background-image: url(../images/desktop/image-night-arcade.jpg);
  }
  .creations__grid  > div:nth-child(3){
    background-image: url(../images/desktop/image-soccer-team.jpg);
  }
  .creations__grid  > div:nth-child(4){
    background-image: url(../images/desktop/image-grid.jpg);
  }
  .creations__grid  > div:nth-child(5){
    background-image: url(../images/desktop/image-from-above.jpg);
  }
  .creations__grid  > div:nth-child(6){
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
  }
  .creations__grid  > div:nth-child(7){
    background-image: url(../images/desktop/image-curiosity.jpg);
  }
  .creations__grid  > div:nth-child(8){
    background-image: url(../images/desktop/image-fisheye.jpg);
  }

  footer {
    padding: 2rem 10rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-menu {
    align-items: start;
  }

  .footer-menu ul {
    flex-direction: row;
  }

  .icons-copyright a{
    align-items: end;
  }

}

.disabled{
  display: none;
}